<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" parallel="false" thread-count="4">
    <test name="chrometest">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.hitwe.frontend.automation.tests.SignUpTest" />
        </classes>
    </test>
    <test name="firefoxtest">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="com.hitwe.frontend.automation.tests.SignUpTest" />
        </classes>
    </test>
</suite>